///* ========================================================================
//   #GLOBAL
//   ======================================================================== */

$white: #fff;
$black: #000;

$corn-flower: #97d1eb;
$cadet-blue: #bcc0cd;

$color-paragraph: $cadet-blue;

$blue-primary: $corn-flower;

$grey-primary: $cadet-blue;
