///* ========================================================================
//   #GLOBAL
//   ======================================================================== */

$white: #fff;
$black: #000;

$corn-flower: #97d1eb;
$vicking: #80bfdb;
$cadet-blue: #bcc0cd;

$concrete: #f2f2f2;

$color-paragraph: $cadet-blue;

$blue-primary: $corn-flower;

$blue-hover: $vicking;

$grey-primary: $cadet-blue;

$color-numbers: $concrete; 
