.f-contact__item {
  margin-bottom: 70px;
  width: 100%;
  height: 50px;
  position: relative;

  @include mq(to768) {
    margin-bottom: 35px;
  }

  input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 0.8px solid $color-paragraph;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  .f-contact-title {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    color: $form-color;
    font-size: 37px;
    font-weight: 600;
    padding: 0 0 10px;
    transform: translateY(0);
    transition: all 0.3s ease-in;
    opacity: 0.5;
    pointer-events: none;
    transform-origin: left;

    @include mq(to1200) {
      font-size: 24px;
      padding: 0;
      bottom: -10px;
    }
  }

  .message {
    border: none;
    width: 100%;
  }

  .f-contact__controls {
    &.filed {
      + .f-contact-title {
        opacity: 1;
        transform: translateY(-100%) scale(0.5);
        padding: 0;

        @include mq(to1200) {
          transform: translateY(-90%) scale(0.5);
        }
      }
    }
  }
}

.f-search {
  padding-right: 55px;
  max-width: 380px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  @include mq(to768) {
    padding-right: 20;
  }

  @include mq(to1200) {
    justify-content: flex-end;
  }

  .f-search__control {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid $color-paragraph;
    height: 35px;
    width: 0;
    transition: width 0.3s ease-in;

    @include mq(to1200) {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background-color: $white;
      z-index: 5;
      height: 50px;
      width: 0;
      border-bottom: 2px solid $white;

      &.extended {
        .s-device & {
          width: 100%;
          padding-left: 20px;
        }
      }
    }
  }

  .icon-search {
    cursor: pointer;
    transition: all 0.3s ease-in;

    &:hover {
      color: $grey-primary;
    }
  }

  &:hover {
    .b-device & {
      .f-search__control {
        width: 90%;
      }
    }
  }
}
