.slick-arrow {
  font-size: 0;
  cursor: pointer;
  z-index: 1;

  .t-slider & {
    background-color: $white;
    border: 1px solid $grey-primary;
    width: 50px;
    height: 50px;
  }

  .b-slider & {
    background-color: $blue-primary;
    border: none;
    width: 105px;
    height: 105px;

    @include mq(to768) {
      width: 50px;
      height: 50px;
      background-color: transparent;
    }

    @include mq(from768to1200) {
      width: 80px;
      height: 80px;
    }

    &:hover {
      background-color: $blue-hover;

      @include mq(to768) {
        background-color: transparent;
      }
    }
  }
}

.slick-prev {
  position: absolute;

  @extend %icomoon;

  &::before {
    @extend .icon-left-arrow;

    font-size: 24px;
  }

  .t-slider & {
    top: 30px;
    left: 70px;

    @include mq(to768) {
      top: -100px;
      left: 50%;
    }

    &::before {
      color: $grey-primary;
    }
  }

  .b-slider & {
    top: calc(50% - 105px);
    left: calc(50% - 52.5px);

    @include mq(to768) {
      top: 15%;
      left: 0;
    }

    @include mq(from768to1200) {
      top: 30%;
      left: 0;
    }

    &::before {
      color: $white;
    }
  }
}

.slick-next {
  position: absolute;

  @extend %icomoon;

  &::before {
    @extend .icon-right-arrow;

    color: $grey-primary;
    font-size: 24px;
  }

  .t-slider & {
    bottom: 30px;
    left: 70px;

    @include mq(to768) {
      bottom: -100px;
      left: 50%;
    }

    &::before {
      color: $grey-primary;
    }
  }

  .b-slider & {
    bottom: calc(50% - 105px);
    left: calc(50% - 52.5px);

    @include mq(to768) {
      top: 15%;
      left: calc(100% - 50px);
    }

    @include mq(from768to1200) {
      top: 30%;
      left: calc(100% - 80px);
    }

    &::before {
      color: $white;
    }
  }
}

.slick-dots {
  display: flex;
  align-items: center;
  padding-left: 238px;
  position: absolute;
  bottom: -250px;

  @include mq(to768) {
    padding-left: 125px;
  }

  li {
    margin-left: 30px;
    position: relative;

    button {
      background-color: transparent;
      border: none;
      width: 40px;
      height: 40px;
      font-size: 22px;
      color: $grey-primary;
      font-weight: 600;
      cursor: pointer;

      &::before {
        content: '0';
      }
    }

    &:first-child {
      margin-left: 0;
    }

    &::before {
      content: '';
      width: 40px;
      height: 2px;
      background-color: $grey-primary;
      position: absolute;
      top: 19.5px;
      left: 0;
      opacity: 0;
      transition: all 0.2s ease-in;
    }

    &:hover {
      button {
        color: $black;
      }
    }
  }

  .slick-active {
    button {
      color: $black;
    }

    &::before {
      opacity: 1;
      background-color: $black;
    }
  }
}
