// /* ==========================================================================
//    #BUTTONS
//    ========================================================================== *

.btn {
  padding: 20px 0;
  text-decoration: none;
  max-width: 184px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-paragraph;
  font-size: 18px;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  border: 2px solid $color-paragraph;

  &:hover {
    border: 2px solid $blue-primary;
    color: $blue-primary;
  }

  &-white {
    background-color: $white;
  }
}

