/*  ==========================================================================
  #WRAPPER
  ==========================================================================  */
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}

.header-section {
  text-align: center;
  padding: 80px 0;

  h5 {
    text-transform: uppercase;
    color: $blue-primary;
    width: 50%;
    margin: 0 auto;
    position: relative;

    &::before, &::after {
      content: "";
      width: 120px;
      height: 1.5px;
      background-color: $grey-primary;
      position: absolute;
      top: 45%;

      @include mq(to768) {
        display: none;
      }

      @include mq(from768to1200) {
        width: 50px;
      }
    }

    &::before {
      left: 120px;
    }

    &::after {
      right: 120px;
    }
  }

  .latest-projects & {
    position: absolute;
    top: -215px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: $white;

    @include mq(to768) {
      position: static;
    }
  }
}
