.hero {
  display: flex;
  height: 500px;
  border-top: 1px solid $grey-primary;
  border-bottom: 1px solid $grey-primary;

  .hero__left {
    max-width: calc(100% - 1768px);
    width: 100%;
    height: 100%;

    @include mq(to1200) {
      display: none;
    }
  }

  .hero__right {
    max-width: 1768px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    border-left: 1px solid $grey-primary;

    .hero__empty {
      max-width: 365px;
      height: 100%;
      width: 100%;

      @include mq(to1200) {
        display: none;
      }
    }

    .hero__image {
      max-width: calc(1768px - 365px);
      width: 100%;
      height: 100%;
      background-image: url('../../img/s1-image__1.png');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}
