.t-slider__wrap {
  position: absolute;
  top: calc((940px - 350) / 2);
  left: -96.5px;
  width: 60%;

  @include mq(to1200) {
    top: 30%;
    left: 0;
    width: 100%;
  }

  .t-slider {
    position: relative;

    .t-slider__item {
      display: flex;
      align-items: center;
      padding: 50px 0;
    }

    .t-slider__num {
      position: relative;
      width: 193px;
      height: 193px;

      @include mq(to768) {
        width: 80px;
        height: 80px;
      }

      h1 {
        color: $white;
        position: absolute;
        top: 25%;
        left: 25%;
        right: 25%;
      }
    }

    .t-slider__desc {
      width: 60%;
      height: 100%;
      margin-left: 45px;
      position: relative;

      h1 {
        line-height: 1.76129;
      }

      p {
        position: absolute;
        top: -20px;
        font-size: 18px;
        font-weight: 600;
        color: $grey-primary;
      }

      &::after {
        content: '';
        width: 100%;
        height: 14px;
        background-color: $blue-primary;
        position: absolute;
        bottom: -20px;
        z-index: 5;
      }
    }
  }
}

.b-slider {
  .b-slider__item {
    display: flex;
    align-items: center;

    @include mq(to1200) {
      flex-direction: column;
    }

    .b-slider__desc {
      width: 50%;
      padding: 0 120px 0;
      position: relative;

      @include mq(to1200) {
        width: 100%;
        padding: 60px 20px;
      }

      h3 {
        font-weight: 700;
        width: 60%;

        @include mq(to1200) {
          width: 100%;
        }
      }

      p {
        line-height: 3;
        margin-top: 50px;
        color: $color-paragraph;

        @include mq(to768) {
          margin-top: 20px;
          line-height: 2.5;
        }
      }
    }

    .b-slider__image {
      width: 50%;

      @include mq(to1200) {
        width: 100%;
      }
    }

    .b-slider__num {
      font-size: 450px;
      font-weight: 700;
      color: $color-numbers;
      position: absolute;
      top: -120px;
      right: 80px;
      z-index: -1;

      @include mq(to768) {
        top: 0;
        right: 23%;
      }

      @include mq(from768to1200) {
        top: -15%;
        right: 40%;
      }
    }
  }
}

.b-slider__nav {
  max-width: 865px;
  margin: 0 auto;

  @include mq(to768) {
    display: none;
  }

  .slick-track {
    display: flex;
    justify-content: space-between;
    margin: 32px 0;
  }

  .b-slider__item {
    cursor: pointer;
    position: relative;
    max-width: 220px;
    margin-left: 20px;

    &:first-child {
      margin-left: 0;
    }

    &::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      border: 15px solid $blue-primary;
      opacity: 0;
      transition: all 0.2s ease-in;

      @include mq(to768) {
        border: 3px solid $blue-primary;
      }
    }

    &:hover::before,
    &.slick-current::before {
      opacity: 1;
    }
  }
}
